[flake8]
# Matching black's default
max-line-length = 88

extend-ignore =
    D107,  # Missing docstring in __init__

per-file-ignores = 
    # TODO: Incrementally add missing docstrings
    # D100 Missing docstring in public module
    # D101 Missing docstring in public class
    # D102 Missing docstring in public method
    # D103 Missing docstring in public function
    # D104 Missing docstring in public package
    twine/*:D100,D101,D102,D103,D104
    # TODO: Rewrite test docstrings https://github.com/pypa/twine/issues/628
    # D200 One-line docstring should fit on one line with quotes
    # D202 No blank lines allowed after function docstring
    # D205 1 blank line required between summary line and description
    # D400 First line should end with a period
    tests/*:D100,D101,D102,D103,D104,D200,D202,D205,D400
