include LICENSE
include README.rst
include AUTHORS
include .coveragerc

recursive-include tests *.py *.whl deprecated-pypirc
recursive-include docs *.bat *.empty *.py *.rst Makefile *.txt

prune docs/_build
