name: Integration

on:
  push:
    branches:
      - master
  schedule:
    - cron: '0 0 * * *'  # daily

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: python -m pip install tox
      - name: Run tests
        run: python -m tox -e integration
